/*
    Document   : construction
    Created on : Feb 8, 2013, 4:32:44 PM
    Author     : merten
    Description:
        Css for construction.html
*/
root {
    display: block;
}

.clear {
    float: none;
    clear: both;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: #f9f9f9;
}

body, p, input, textarea, select {
    font-family: helvetical, sans-serif;
}

#progress {
    width: 408px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -204px;
    margin-top: -100px;
}

#progress > p {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
}