/*
    Document   : main
    Created on : Feb 4, 2013, 5:09:14 PM
    Author     : Merten van Gerven
    Description:
        Base stylesheet for all media types
*/
root {
    display: block;
}

.clear {
    float: none;
    clear: both;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main {
    /* http://www.colorzilla.com/gradient-editor/#222222+0,333333+30;Custom */
    background: rgb(34,34,34); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left,  rgba(34,34,34,1) 0%, rgba(51,51,51,1) 30%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(34,34,34,1)), color-stop(30%,rgba(51,51,51,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(34,34,34,1) 0%,rgba(51,51,51,1) 30%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(34,34,34,1) 0%,rgba(51,51,51,1) 30%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(34,34,34,1) 0%,rgba(51,51,51,1) 30%); /* IE10+ */
    background: linear-gradient(to right,  rgba(34,34,34,1) 0%,rgba(51,51,51,1) 30%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#333333',GradientType=1 ); /* IE6-8 */
}

#logo {
    position: absolute;
    top: 10px;
    left: 30%;
    margin-left: -165px;
    z-index: 1;
}

#nav {
    float: left;
    width: 30%;
    min-width: 200px;
    min-height: 100%;
    color: white;
}

#content {
	position: relative;
    left: 30%;
    width: 70%;
    min-height: 100%;
	background: #f9f9f9;
    -moz-box-shadow: -5px 0px 9px rgba(0,0,0,1);
    -webkit-filter: drop-shadow(-5px 0px 9px rgba(0,0,0,1));
    filter: drop-shadow(-5px 0px 9px rgba(0,0,0,1));
}
#content:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#content:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #f9f9f9;
	border-width: 10px;
	top: 200px;
	margin-top: -10px;

}